In [7]:
import pandas as pd

In [11]:
df=pd.read_csv("tesr.txt")

In [12]:
df.head()

    5  5.1
0   6    5
1   7    5
2   8    5
3   9    5
4  10    5

In [13]:
df.dtypes

5      int64
5.1    int64
dtype: object