In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("./results/firstresult/tesr.txt",header=None)

In [6]:
df.head()

     0         1     2     3
0  120  0.009901  0.55  1.00
1  121  0.009901  0.60  1.00
2  122  0.009901  0.30  0.97
3  123  0.009901  0.05  1.00
4  124  0.009901  0.88  1.00

In [7]:
df.dtypes

0      int64
1    float64
2    float64
3    float64
dtype: object

In [8]:
df.to_csv("yeastgnd0results.csv",header=["datanumber","LA","LB","LBres"])