In [29]:
import pandas as pd

In [ ]:
############No need to run these codes now ############################

In [98]:
presultsOurYeast1=pd.read_csv("./results/tesryeast1.txt",header =None)

In [99]:
presultsOurYeast0=pd.read_csv("./results/tesryeast0.txt",header =None)

In [11]:
presultsOurYeast1

       0     1     2     3
0    560  0.01  0.66  0.40
1    561  0.00  0.97  0.13
2    562  0.00  0.43  0.79
3    563  0.01  0.00  0.05
4    564  0.00  0.79  0.47
..   ...   ...   ...   ...
995  835  0.00  0.35  0.35
996  836  0.00  0.16  0.95
997  837  0.00  0.75  0.78
998  838  0.00  0.63  0.98
999  839  0.00  0.75  0.09

[1000 rows x 4 columns]

In [100]:
presultsOurYeast1.loc[:,0]=1 #labelling it as gnd truth 1

In [101]:
presultsOurYeast0.loc[:,0]=0  #labelling it as gnd truth 0

In [102]:
presultsOurYeast=pd.concat([presultsOurYeast1,presultsOurYeast0],ignore_index=True)

In [21]:
#presultsOurYeast['results']=presultsOurYeast.apply (lambda row: 1 if max(row[1],row[2],row[3]) <0.05   else 0, axis=1)

In [103]:
presultsOurYeast.columns = ['GroundTruth','p_L->A', 'p_L->B', 'diff(B|A,B|A,L)']#, 'final_call']

In [104]:
presultsOurYeast

      GroundTruth  p_L->A  p_L->B  diff(B|A,B|A,L)
0               1    0.01    0.66             0.40
1               1    0.00    0.97             0.13
2               1    0.00    0.43             0.79
3               1    0.01    0.00             0.05
4               1    0.00    0.79             0.47
...           ...     ...     ...              ...
1995            0    0.00    0.45             0.99
1996            0    0.00    0.35             0.00
1997            0    0.00    0.27             0.79
1998            0    0.00    0.05             0.84
1999            0    0.00    0.22             1.00

[2000 rows x 4 columns]

In [105]:
#presultsOurYeast.to_csv("YeastbothresultsOurmethod.csv",index=False)

In [106]:
test=pd.read_csv("YeastbothresultsOurmethod.csv")

In [107]:
test

      GroundTruth  p_L->A  p_L->B  diff(B|A,B|A,L)
0               1    0.01    0.66             0.40
1               1    0.00    0.97             0.13
2               1    0.00    0.43             0.79
3               1    0.01    0.00             0.05
4               1    0.00    0.79             0.47
...           ...     ...     ...              ...
1995            0    0.00    0.45             0.99
1996            0    0.00    0.35             0.00
1997            0    0.00    0.27             0.79
1998            0    0.00    0.05             0.84
1999            0    0.00    0.22             1.00

[2000 rows x 4 columns]

In [108]:
citresultsyeast1= pd.read_csv("../LinearDifferentvalues/CIT_testing/results_cit_yeast1.csv")

In [109]:
citresultsyeast1.loc[:,'p_res']=1

In [84]:
citresultsyeast1

        p_cit      p_TL          p_TG           p_GL        p_Lind  p_res
0    0.999997  0.526752  1.451417e-42   3.025060e-13  9.999967e-01      1
1    0.770998  0.770998  3.154449e-05   4.327071e-06  6.540438e-01      1
2    0.160258  0.013723  1.478439e-01   2.326003e-04  1.602582e-01      1
3    0.864296  0.304704  8.642960e-01   2.939863e-71  7.355318e-01      1
4    0.999992  0.797223  4.165822e-12   2.051547e-34  9.999919e-01      1
..        ...       ...           ...            ...           ...    ...
995  0.446991  0.446991  3.314259e-02   1.001815e-33  5.616536e-03      1
996  1.000000  0.098119  1.292501e-35  4.584613e-105  1.000000e+00      1
997  1.000000  0.198089  1.313946e-17   1.406160e-06  1.000000e+00      1
998  0.041694  0.041694  3.839916e-02   5.016144e-26  3.906200e-02      1
999  0.016795  0.016795  1.528649e-57   2.350990e-09  2.487731e-16      1

[1000 rows x 6 columns]

In [110]:
citresultsyeast0= pd.read_csv("../LinearDifferentvalues/CIT_testing/results_cit_yeast0.csv")

In [111]:
citresultsyeast0.loc[:,'p_res']=0

In [112]:
citresultsyeast=pd.concat([citresultsyeast1,citresultsyeast0],ignore_index=True)

In [113]:
citresultsyeast

         p_cit      p_TL           p_TG           p_GL    p_Lind  p_res
0     0.999997  0.526752   1.451417e-42   3.025060e-13  0.999997      1
1     0.770998  0.770998   3.154449e-05   4.327071e-06  0.654044      1
2     0.160258  0.013723   1.478439e-01   2.326003e-04  0.160258      1
3     0.864296  0.304704   8.642960e-01   2.939863e-71  0.735532      1
4     0.999992  0.797223   4.165822e-12   2.051547e-34  0.999992      1
...        ...       ...            ...            ...       ...    ...
1995  1.000000  0.044756   4.255630e-08   3.497283e-07  1.000000      0
1996  0.923909  0.116567   1.282423e-01   5.183201e-60  0.923909      0
1997  1.000000  0.246241  1.240799e-121   4.313804e-87  1.000000      0
1998  1.000000  0.767710   1.409244e-20   9.823368e-59  1.000000      0
1999  1.000000  0.017866   1.004083e-42  9.846674e-145  1.000000      0

[2000 rows x 6 columns]

In [114]:
citresultsyeast.rename(columns={'p_res':'GroundTruth'},inplace=True)

In [115]:
#citresultsyeast.to_csv("YeastbothresultsCIT.csv",index=False)

In [116]:
test=pd.read_csv("YeastbothresultsCIT.csv")

In [117]:
test

         p_cit      p_TL           p_TG           p_GL    p_Lind  GroundTruth
0     0.999997  0.526752   1.451417e-42   3.025060e-13  0.999997            1
1     0.770998  0.770998   3.154449e-05   4.327071e-06  0.654044            1
2     0.160258  0.013723   1.478439e-01   2.326003e-04  0.160258            1
3     0.864296  0.304704   8.642960e-01   2.939863e-71  0.735532            1
4     0.999992  0.797223   4.165822e-12   2.051547e-34  0.999992            1
...        ...       ...            ...            ...       ...          ...
1995  1.000000  0.044756   4.255630e-08   3.497283e-07  1.000000            0
1996  0.923909  0.116567   1.282423e-01   5.183201e-60  0.923909            0
1997  1.000000  0.246241  1.240799e-121   4.313804e-87  1.000000            0
1998  1.000000  0.767710   1.409244e-20   9.823368e-59  1.000000            0
1999  1.000000  0.017866   1.004083e-42  9.846674e-145  1.000000            0

[2000 rows x 6 columns]

In [ ]:
######## Run it from here ###########

In [118]:
cit=pd.read_csv("YeastbothresultsCIT.csv")
ourmethod=pd.read_csv("YeastbothresultsOurmethod.csv")

In [120]:
ourmethod

      GroundTruth  p_L->A  p_L->B  diff(B|A,B|A,L)
0               1    0.01    0.66             0.40
1               1    0.00    0.97             0.13
2               1    0.00    0.43             0.79
3               1    0.01    0.00             0.05
4               1    0.00    0.79             0.47
...           ...     ...     ...              ...
1995            0    0.00    0.45             0.99
1996            0    0.00    0.35             0.00
1997            0    0.00    0.27             0.79
1998            0    0.00    0.05             0.84
1999            0    0.00    0.22             1.00

[2000 rows x 4 columns]

In [121]:
ourmethod['results']=ourmethod.apply (lambda row: 1 if max(row[1],row[2],row[3]) <0.05   else 0, axis=1)

In [122]:
ourmethod

      GroundTruth  p_L->A  p_L->B  diff(B|A,B|A,L)  results
0               1    0.01    0.66             0.40        0
1               1    0.00    0.97             0.13        0
2               1    0.00    0.43             0.79        0
3               1    0.01    0.00             0.05        0
4               1    0.00    0.79             0.47        0
...           ...     ...     ...              ...      ...
1995            0    0.00    0.45             0.99        0
1996            0    0.00    0.35             0.00        0
1997            0    0.00    0.27             0.79        0
1998            0    0.00    0.05             0.84        0
1999            0    0.00    0.22             1.00        0

[2000 rows x 5 columns]