In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("./results/Result1withoutpickle.txt",header = false)

NameError: name 'false' is not defined

In [4]:
df.head()

   920  0.009900990099009901  0.009900990099009901.1  1.0
0  921              0.009901                0.009901  1.0
1  922              0.009901                0.009901  1.0
2  923              0.009901                0.009901  1.0
3  924              0.009901                0.009901  1.0
4  925              0.009901                0.009901  1.0

In [4]:
df.dtypes

680        int64
0.0      float64
0.0.1    float64
1.0      float64
dtype: object

In [7]:
df.to_csv("Linearresults.csv",header=["datanumber","LA","LB","LBres"])