In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("./results/firstresult/tesr.txt",header=None)

In [11]:
df.head()

     0         1     2     3
0  120  0.009901  0.55  1.00
1  121  0.009901  0.60  1.00
2  122  0.009901  0.30  0.97
3  123  0.009901  0.05  1.00
4  124  0.009901  0.88  1.00

In [7]:
df.dtypes

0      int64
1    float64
2    float64
3    float64
dtype: object

In [8]:
df.to_csv("yeastgnd0results.csv",header=["datanumber","LA","LB","LBres"])

In [19]:
df.loc[df[2] >=0.05]

       0         1     2     3
0    120  0.009901  0.55  1.00
1    121  0.009901  0.60  1.00
2    122  0.009901  0.30  0.97
3    123  0.009901  0.05  1.00
4    124  0.009901  0.88  1.00
..   ...       ...   ...   ...
995  495  0.010000  0.05  0.47
996  496  0.009901  0.16  1.00
997  497  0.009901  0.87  0.88
998  498  0.580000  0.46  0.48
999  499  0.009901  0.69  1.00

[872 rows x 4 columns]

In [16]:
temp.to_csv("yeastgnd0pvalue>=point5.csv",header=["datanumber","LA","LB","LBres"])

In [20]:
df.loc[df[2] <0.05]

       0         1         2     3
9    129  0.009901  0.009901  1.00
16   136  0.009901  0.009901  0.20
35   815  0.009901  0.030000  1.00
36   816  0.030000  0.030000  1.00
54   254  0.240000  0.009901  1.00
..   ...       ...       ...   ...
960  820  0.009901  0.040000  1.00
979  839  0.009901  0.020000  1.00
981  481  0.009901  0.010000  1.00
985  485  0.009901  0.010000  0.82
991  491  0.009901  0.030000  1.00

[128 rows x 4 columns]

In [18]:
temp.to_csv("yeastgnd0pvalue<point5.csv",header=["datanumber","LA","LB","LBres"])