In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("tesr.txt")

In [3]:
df.head()

   680  0.0  0.0.1  1.0
0  681  0.0    0.0  1.0
1  682  0.0    0.0  1.0
2  683  0.0    0.0  1.0
3  684  0.0    0.0  1.0
4  685  0.0    0.0  1.0

In [4]:
df.dtypes

680        int64
0.0      float64
0.0.1    float64
1.0      float64
dtype: object

In [7]:
df.to_csv("Linearresults.csv",header=["datanumber","LA","LB","LBres"])