In [ ]:

from nlcd_user import *

In [11]:
#Example data for nlcd_single function which takes only one trio 
L=np.random.binomial(1,0.5,300)
A=0.9*L+np.random.normal(0,1,300)
B=0.1*A+np.random.normal(0,1,300)

In [12]:

nlcd_single(L,A,B,shuffles=500,algo='KRR',verbose=True)

The final p value is  0.4900398406374502
Test 1 L assoc B  0.4342629482071713
Test 2 L assoc A | B  0.00199203187250996
Test 3 A assoc B | L  0.4900398406374502
Test 4 L ind B | A  0.39243027888446214
Overlap score from Test 4  0.289316475700653
Seed set at  4134368910613559029

[0.4900398406374502,
 0.4342629482071713,
 0.00199203187250996,
 0.4900398406374502,
 0.39243027888446214,
 0.289316475700653,
 4134368910613559029]

In [13]:
#reproduce the result
nlcd_single(L,A,B,shuffles=500,algo='KRR',sample_seed=4134368910613559029)

The final p value is  0.4900398406374502
Test 1 L assoc B  0.4342629482071713
Test 2 L assoc A | B  0.00199203187250996
Test 3 A assoc B | L  0.4900398406374502
Test 4 L ind B | A  0.39243027888446214
Overlap score from Test 4  0.289316475700653
Seed set at  4134368910613559029

[0.4900398406374502,
 0.4342629482071713,
 0.00199203187250996,
 0.4900398406374502,
 0.39243027888446214,
 0.289316475700653,
 4134368910613559029]

In [14]:
#example data for nlcd_group function where you can feed in multiple trios and get a dataframe as result 
#here it contains two trios 
#one independent and the other causal 
data=[]
for i in range(2):
    L=np.random.binomial(1,0.5,1000)
    A=0.1*L+np.random.normal(0,1,1000)
    if(i==0):
        B=0.5*L+np.random.normal(0,1,1000)
    if(i==1):
        B=0.5*A+np.random.normal(0,1,1000)
    data.append([L,A,B])

In [15]:
result=nlcd_batch(data,shuffles=50,algo='KRR',reverse=False,usercall=True)

Seed Set at  173139788072421203623186426139092738707
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1743794257.35316  end time:  1743794262.2322276 Execution time: 4.879067659378052 seconds

In [ ]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.615385,0.019231,0.115385,0.615385,0.423077,0.471299,1496583405831959912,173139788072421203623186426139092738707
1,0.538462,0.192308,0.269231,0.019231,0.538462,0.478935,3141462066089290613,same

In [17]:
result=nlcd_batch(data,shuffles=50,algo='KRR',sample_seed=173139788072421203623186426139092738707,usercall=True)

Seed Set at  173139788072421203623186426139092738707
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1743794312.3793907  end time:  1743794316.4504414 Execution time: 4.071050643920898 seconds

In [18]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.615385,0.019231,0.115385,0.615385,0.423077,0.471299,1496583405831959912,173139788072421203623186426139092738707
1,0.538462,0.192308,0.269231,0.019231,0.538462,0.478935,3141462066089290613,same

In [19]:
#can reproduce a specific trio result by looking at the child seed from the above
#example see the seed against the row number 1 for data[1] 
nlcd_single(np.array(data[1][0]),np.array(data[1][1]),np.array(data[1][2]),shuffles=50,algo='KRR',sample_seed=3141462066089290613,verbose=True)

The final p value is  0.5384615384615384
Test 1 L assoc B  0.19230769230769232
Test 2 L assoc A | B  0.2692307692307692
Test 3 A assoc B | L  0.019230769230769232
Test 4 L ind B | A  0.5384615384615384
Overlap score from Test 4  0.4789352921311164
Seed set at  3141462066089290613

[0.5384615384615384,
 0.19230769230769232,
 0.2692307692307692,
 0.019230769230769232,
 0.5384615384615384,
 0.4789352921311164,
 3141462066089290613]