In [2]:
from nlcd_user import *
from matplotlib import pyplot as plt

In [5]:
#Example data for nlcd_single function which takes only one trio 
L=np.random.binomial(1,0.5,300)
A=0.1*L+np.random.normal(0,1,300)
B=0.1*A+np.random.normal(0,1,300)

In [6]:

nlcd_single(L,A,B,shuffles=100,algo='KRR')

The final p value is  0.5784313725490197
Test 1 L assoc B  0.08823529411764706
Test 2 L assoc A | B  0.5784313725490197
Test 3 A assoc B | L  0.06862745098039216
Test 4 L ind B | A  0.0196078431372549
Overlap score from Test 4  0.47037118037732684
Seed set at  63024057683507274

[0.5784313725490197,
 0.08823529411764706,
 0.5784313725490197,
 0.06862745098039216,
 0.0196078431372549,
 0.47037118037732684,
 63024057683507274]

In [8]:
#reproduce the result
nlcd_single(L,A,B,shuffles=100,algo='KRR',sample_seed=63024057683507274)

The final p value is  0.5784313725490197
Test 1 L assoc B  0.08823529411764706
Test 2 L assoc A | B  0.5784313725490197
Test 3 A assoc B | L  0.06862745098039216
Test 4 L ind B | A  0.0196078431372549
Overlap score from Test 4  0.47037118037732684
Seed set at  63024057683507274

[0.5784313725490197,
 0.08823529411764706,
 0.5784313725490197,
 0.06862745098039216,
 0.0196078431372549,
 0.47037118037732684,
 63024057683507274]

In [9]:
#example data for nlcd_group function where you can feed in multiple trios and get a dataframe as result 
#here it contains two trios 
#one independent and the other causal 
data=[]
for i in range(2):
    L=np.random.binomial(1,0.5,1000)
    A=0.1*L+np.random.normal(0,1,1000)
    if(i==0):
        B=0.5*L+np.random.normal(0,1,1000)
    if(i==1):
        B=0.5*A+np.random.normal(0,1,1000)
    data.append([L,A,B])

In [12]:
result=nlcd_batch(data,shuffles=50,algo='KRR',reverse=False)

Seed Set at  17818855689089527341813962551330825368
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1689918884.1672974  end time:  1689918894.4534876 Execution time: 10.286190271377563 seconds

In [13]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.923077,0.019231,0.038462,0.076923,0.923077,0.462302,364826561579255685,17818855689089527341813962551330825368
1,0.980769,0.980769,0.076923,0.019231,0.365385,0.473602,1452921826540798591,same

In [14]:
result=nlcd_batch(data,shuffles=50,algo='KRR',sample_seed=17818855689089527341813962551330825368)

Seed Set at  17818855689089527341813962551330825368
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1689918907.5231068  end time:  1689918917.3524876 Execution time: 9.829380750656128 seconds

In [15]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.923077,0.019231,0.038462,0.076923,0.923077,0.462302,364826561579255685,17818855689089527341813962551330825368
1,0.980769,0.980769,0.076923,0.019231,0.365385,0.473602,1452921826540798591,same

In [16]:
#can reproduce a specific trio result by looking at the seed from the above
#example see the seed against the row number 0 for data[0] 
nlcd_single(np.array(data[0][0]),np.array(data[0][1]),np.array(data[0][2]),shuffles=50,algo='KRR',sample_seed=364826561579255685)

The final p value is  0.9230769230769231
Test 1 L assoc B  0.019230769230769232
Test 2 L assoc A | B  0.038461538461538464
Test 3 A assoc B | L  0.07692307692307693
Test 4 L ind B | A  0.9230769230769231
Overlap score from Test 4  0.46230218023587866
Seed set at  364826561579255685

[0.9230769230769231,
 0.019230769230769232,
 0.038461538461538464,
 0.07692307692307693,
 0.9230769230769231,
 0.46230218023587866,
 364826561579255685]