In [1]:
from nlcd_user import *

In [2]:
#Example data for nlcd_single function which takes only one trio 
L=np.random.binomial(1,0.5,1000)
A=0.5*L+np.random.normal(0,1,1000)
B=0.5*A+np.random.normal(0,1,1000)

In [3]:
nlcd_single(L,A,B,shuffles=100,algo='SVR')

Seed set at  3661984680
The final p value is  0.00980392156862745
Test 1 L assoc B  0.00980392156862745
Test 2 L assoc A | B  0.00980392156862745
Test 3 A assoc B | L  0.00980392156862745
Test 4 L ind B | A  0.00980392156862745
Overlap score from Test 2  0.45084500279287065
Overlap score from Test 4  0.4073526752481231

In [4]:
#example data for nlcd_group function where you can feed in multiple trios and get a dataframe as result 
#here it contains two trios 
#one independent and the other causal 
data=[]
for i in range(2):
    L=np.random.binomial(1,0.5,1000)
    A=0.5*L+np.random.normal(0,1,1000)
    if(i==0):
        B=0.5*L+np.random.normal(0,1,1000)
    if(i==1):
        B=0.5*A+np.random.normal(0,1,1000)
    data.append([L,A,B])

In [5]:
result=nlcd_batch(data,shuffles=100,algo='SVR')

Seed Set at  13298259367534168990462925929628669412
start time:  1687285974.1642344  end time:  1687286028.0324647 Execution time: 53.86823034286499 seconds

In [6]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 2,OS Test 4,seed
0,0.580000,0.009804,0.009804,0.303922,0.578431,0.408634,0.399752,1543915598
1,0.009804,0.009804,0.009804,0.009804,0.009804,0.449762,0.400948,935853079

In [7]:
#calling nlcd_batch with the same seed number will reproduce all the trios results
 
nlcd_batch(data,shuffles=100,algo='SVR',sample_seed=13298259367534168990462925929628669412)

Seed Set at  13298259367534168990462925929628669412
start time:  1687286028.112917  end time:  1687286082.218527 Execution time: 54.10561013221741 seconds

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 2,OS Test 4,seed
0,0.580000,0.009804,0.009804,0.303922,0.578431,0.408634,0.399752,1543915598
1,0.009804,0.009804,0.009804,0.009804,0.009804,0.449762,0.400948,935853079

In [8]:
#can reproduce the result by looking at the seed from the above
#example see the seed against the row number 0 for data[0] 
nlcd_single(np.array(data[0][0]),np.array(data[0][1]),np.array(data[0][2]),shuffles=100,algo='SVR',sample_seed=1543915598)

Seed set at  1543915598
The final p value is  0.58
Test 1 L assoc B  0.00980392156862745
Test 2 L assoc A | B  0.00980392156862745
Test 3 A assoc B | L  0.30392156862745096
Test 4 L ind B | A  0.5784313725490196
Overlap score from Test 2  0.40863385196818336
Overlap score from Test 4  0.3997516216100541