In [1]:
from nlcd_user import *
from matplotlib import pyplot as plt

In [2]:
#Example data for nlcd_single function which takes only one trio 
L=np.random.binomial(1,0.5,300)
A=0.9*L+np.random.normal(0,1,300)
B=0.1*A+np.random.normal(0,1,300)

In [3]:

nlcd_single(L,A,B,shuffles=500,algo='KRR',verbose=True)

The final p value is  0.7709163346613546
Test 1 L assoc B  0.7709163346613546
Test 2 L assoc A | B  0.00199203187250996
Test 3 A assoc B | L  0.4362549800796813
Test 4 L ind B | A  0.1553784860557769
Overlap score from Test 4  0.2957647785860183
Seed set at  5792471327519816668

[0.7709163346613546,
 0.7709163346613546,
 0.00199203187250996,
 0.4362549800796813,
 0.1553784860557769,
 0.2957647785860183,
 5792471327519816668]

In [5]:
#reproduce the result
nlcd_single(L,A,B,shuffles=500,algo='KRR',sample_seed=8783266600977573384)

The final p value is  0.9442231075697212
Test 1 L assoc B  0.05776892430278884
Test 2 L assoc A | B  0.00199203187250996
Test 3 A assoc B | L  0.07768924302788845
Test 4 L ind B | A  0.9442231075697212
Overlap score from Test 4  0.35620869055341925
Seed set at  8783266600977573384

[0.9442231075697212,
 0.05776892430278884,
 0.00199203187250996,
 0.07768924302788845,
 0.9442231075697212,
 0.35620869055341925,
 8783266600977573384]

In [4]:
#example data for nlcd_group function where you can feed in multiple trios and get a dataframe as result 
#here it contains two trios 
#one independent and the other causal 
data=[]
for i in range(2):
    L=np.random.binomial(1,0.5,1000)
    A=0.1*L+np.random.normal(0,1,1000)
    if(i==0):
        B=0.5*L+np.random.normal(0,1,1000)
    if(i==1):
        B=0.5*A+np.random.normal(0,1,1000)
    data.append([L,A,B])

In [7]:
result=nlcd_batch(data,shuffles=50,algo='KRR',reverse=False,usercall=True)

Seed Set at  166204745337239184579129995817731200646
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1698340935.509228  end time:  1698340943.090117 Execution time: 7.580888986587524 seconds

In [8]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.326923,0.019231,0.019231,0.288462,0.326923,0.451328,5126881323377181946,166204745337239184579129995817731200646
1,0.730769,0.730769,0.307692,0.019231,0.173077,0.474816,4292054760285856783,same

In [11]:
result=nlcd_batch(data,shuffles=50,algo='KRR',sample_seed=166204745337239184579129995817731200646,usercall=True)

Seed Set at  166204745337239184579129995817731200646
Algo  KRR  shuffles  50  datasize =  1000  reverse  False
start time:  1698340983.6680045  end time:  1698340991.3322752 Execution time: 7.664270639419556 seconds

In [12]:
result

,p_final,p_LassocB,p_LassocA|B,p_AassocB|L,p_LindB|A,OS Test 4,child_seed,parent_seed
0,0.326923,0.019231,0.019231,0.288462,0.326923,0.451328,5126881323377181946,166204745337239184579129995817731200646
1,0.730769,0.730769,0.307692,0.019231,0.173077,0.474816,4292054760285856783,same

In [13]:
#can reproduce a specific trio result by looking at the seed from the above
#example see the seed against the row number 0 for data[0] 
nlcd_single(np.array(data[0][0]),np.array(data[0][1]),np.array(data[0][2]),shuffles=50,algo='KRR',sample_seed=5126881323377181946,verbose=True)

The final p value is  0.3269230769230769
Test 1 L assoc B  0.019230769230769232
Test 2 L assoc A | B  0.019230769230769232
Test 3 A assoc B | L  0.28846153846153844
Test 4 L ind B | A  0.3269230769230769
Overlap score from Test 4  0.4513277117313064
Seed set at  5126881323377181946

[0.3269230769230769,
 0.019230769230769232,
 0.019230769230769232,
 0.28846153846153844,
 0.3269230769230769,
 0.4513277117313064,
 5126881323377181946]