In [68]:
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [63]:
fer=open("/data/users/cs20s037/CITNonLinear/LinearDifferentvalues/dataset_params_diff_variance.txt","r")
dataset_names=[]
for i in range(0,100):
    line=fer.readline()
    line="_".join(line.split())
    dataset_names.append(line)
fer.close()

In [41]:
presults= pd.read_csv("/data/users/cs20s037/CITNonLinear/conclude/newmethod/NLMRnewmethodupdateddiffvar.txt",header=None)

In [42]:
presults.sort_values(0,inplace=True)

In [43]:
presults=presults.set_index([0])

In [44]:
presults

      1    2     3
0
0   0.0  0.0  0.49
1   0.0  0.0  0.05
2   0.0  0.0  0.30
3   0.0  0.0  0.00
4   0.0  0.0  0.02
..  ...  ...   ...
95  0.0  0.0  0.49
96  0.0  0.0  0.27
97  0.0  0.0  0.17
98  0.0  0.0  0.10
99  0.0  0.0  0.09

[100 rows x 3 columns]

In [45]:
presults['results']=presults.apply (lambda row: 'causal' if (row[1] <0.05 and row[2]<0.05 and row[3]<0.05)  else ' ', axis=1)

In [27]:
presults['results']=presults.apply (lambda row: 'causal' if max(row[1],row[2],row[3]) <0.05   else ' ', axis=1)
#both does the same, omni bus

In [46]:
presults.columns = ['p_L->A', 'p_L->B', 'diff(B|A,B|A,L)','final_call']#'spearman','pearson', 'final_call']

In [47]:
presults[presults['final_call']=='causal'].shape[0]

32

In [49]:
citresults= pd.read_csv("/data/users/cs20s037/CITNonLinear/LinearDifferentvalues/CIT_testing/result_diff_variance.csv")

In [50]:
citresults.columns=["p_cit","p_TassocL","p_TassocGgvnL","p_GassocLgvnT","p_LindTgvnG","CIT_final_call"]

In [51]:
citresults[""]=" "

In [53]:
citresults.insert(0,'data number',indices)

NameError: name 'indices' is not defined

In [16]:
citresults.sort_values('data number',inplace=True)

KeyError: 'data number'

In [ ]:
citresults=citresults.set_index('data number')

In [54]:
citDl=pd.concat([citresults,presults],axis=1)

In [59]:
citDl

,p_cit,p_TassocL,p_TassocGgvnL,p_GassocLgvnT,p_LindTgvnG,CIT_final_call,,p_L->A,p_L->B,"diff(B|A,B|A,L)",final_call
0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.49,
1,1.000000e+00,1.212108e-231,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.05,
2,9.997082e-01,0.000000e+00,4.996284e-287,7.188586e-318,9.997082e-01,,,0.0,0.0,0.30,
3,1.000000e+00,1.703102e-245,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.00,causal
4,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.02,causal
...,...,...,...,...,...,...,...,...,...,...,...
95,6.168530e-24,1.656404e-112,0.000000e+00,6.168530e-24,2.965038e-137,causal,,0.0,0.0,0.49,
96,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.27,
97,1.000000e+00,5.984107e-210,0.000000e+00,2.291296e-281,1.000000e+00,,,0.0,0.0,0.17,
98,4.445940e-03,5.125895e-307,0.000000e+00,1.431829e-185,4.445940e-03,causal,,0.0,0.0,0.10,
99,1.000000e+00,1.486714e-202,0.000000e+00,4.290646e-218,1.000000e+00,,,0.0,0.0,0.09,

In [64]:
citDl.insert(0,'parameters',dataset_names)

In [65]:
len(dataset_names)

100

In [66]:
citDl

,parameters,p_cit,p_TassocL,p_TassocGgvnL,p_GassocLgvnT,p_LindTgvnG,CIT_final_call,,p_L->A,p_L->B,"diff(B|A,B|A,L)",final_call
0,-5_6_0.5_2,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.49,
1,-5_6_0.5_3,1.000000e+00,1.212108e-231,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.05,
2,-5_6_1_2,9.997082e-01,0.000000e+00,4.996284e-287,7.188586e-318,9.997082e-01,,,0.0,0.0,0.30,
3,-5_6_1_3,1.000000e+00,1.703102e-245,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.00,causal
4,-5_5_0.5_2,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.02,causal
...,...,...,...,...,...,...,...,...,...,...,...,...
95,-7_2_1_3,6.168530e-24,1.656404e-112,0.000000e+00,6.168530e-24,2.965038e-137,causal,,0.0,0.0,0.49,
96,-7_4_0.5_2,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,,,0.0,0.0,0.27,
97,-7_4_0.5_3,1.000000e+00,5.984107e-210,0.000000e+00,2.291296e-281,1.000000e+00,,,0.0,0.0,0.17,
98,-7_4_1_2,4.445940e-03,5.125895e-307,0.000000e+00,1.431829e-185,4.445940e-03,causal,,0.0,0.0,0.10,
99,-7_4_1_3,1.000000e+00,1.486714e-202,0.000000e+00,4.290646e-218,1.000000e+00,,,0.0,0.0,0.09,

In [10]:
presults.insert(0,'parameters',dataset_names)

In [67]:
citDl.to_csv("NLMRresultupdateddiffvar.csv")