In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("./results/resultswithpickle/tesr.txt",header=None)

In [6]:
df.head()

     0         1     2     3
0  420  0.009901  0.67  0.11
1  421  0.820000  0.67  1.00
2  422  0.009901  0.70  1.00
3  423  0.009901  0.55  0.99
4  424  0.009901  0.38  1.00

In [7]:
df.dtypes

0      int64
1    float64
2    float64
3    float64
dtype: object

In [8]:
df.to_csv("yeastgnd1results.csv",header=["datanumber","LA","LB","LBres"])